fastapi==0.110.1
uvicorn==0.25.0
boto3
motor==3.2.0
pymongo==4.6.1
python-dotenv
passlib[bcrypt]
PyJWT
pydantic==2.6.3
pydantic-settings
email-validator
requests
httpx
numpy>=1.26.0
python-multipart>=0.0.9
jq>=1.6.0
typer>=0.9.0
emergentintegrations
pdfplumber==0.10.3
PyPDF2==3.0.1
reportlab==4.0.9
weasyprint==60.2
python-multipart==0.0.9